@model SGOALB_BACK.Models.OrdenCompra

@{
    ViewBag.Title = "Create";
}

<h2>Registro de Orden</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario.username, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownList("idUsuario", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Usuario.username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Proveedor.nombre, "Proveedor", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownList("idProveedor", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Proveedor.nombre, "", new { @class = "text-danger" })
        </div>

        <label class="control-label col-md-2">Cantidad</label>
        <div class="col-md-3">
            <input type="text" id="cantidad" class="form-control" />
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fechaOrden, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.TextBox("fechaOrden", DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "form-control", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.fechaOrden, "", new { @class = "text-danger" })
        </div>

         <label class="control-label col-md-2">Precio Total</label>
         <div class="col-md-3">
                <input type="text" id="total" class="form-control" />
         </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fechaPago, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.TextBox("fechaPago", null , new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.fechaPago, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registrar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
