@model SGOALB_BACK.Models.OrdenCompra

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Orden</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Local.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Local.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaOrden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoTotal)
        </dd>


    </dl>
</div>
<p>
  
    @Html.ActionLink("Regresar", "Index")
</p>
