@model SGOALB_BACK.Models.OrdenCompra

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Orden</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
